.header {
  width: 100%;
  height: 74px;
}

.header__container {
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 auto;
}


.header__content {
  display: flex;
  align-items: center;
  gap: 50px;
}


.header__auth {
  display: flex;
  align-items: center;
  gap: 30px;
}


.header__link {
  font-weight: 500;
  font-size: 12px;
  line-height: 16px;
  color: #fff;
  text-decoration: none;
  transition: all .1s ease;
  cursor: pointer;
}
.header__link:hover {
  opacity: .8;
}


.header__button {
  height: 32px;
  padding: 0 20px;
  box-sizing: border-box;
  font-size: 12px;
  background-color: #3DDC84;
  color: #000;
  border-radius: 3px;
  border: none;
  font-weight: 500;
  line-height: normal;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all .1s ease;
  cursor: pointer;
}
.header__button:hover {
  opacity: .8;
}


.header__profile {
  height: 32px;
  padding: 0 3px 0 11px;
  box-sizing: border-box;
  border-radius: 40px;
  background-color: #202020;
  box-shadow: 0 3px 14px 0 rgba(0, 0, 0, .08);
  display: flex;
  align-items: center;
  gap: 7px;
  border: none;
  transition: all .1s ease;
  cursor: pointer;
}
.header__profile:hover {
  opacity: .8;
}


.header__text {
  font-size: 13px;
  font-weight: 500;
  color: #fff;
  padding: 0;
}


.header__avatar {
  width: 26px;
  height: 26px;
  border-radius: 50%;
  background-size: cover;
  background-position: 50%;
}
